*{
    margin: 0;
    padding: 0;
}

.main-div{
    margin-top: 15px;
    
}
.main-div ul{
    text-align: center;
    
   
}
.main-div ul li{
    display: inline-block;
    background-color: #ddd;
    
}
.main-div ul li a{
    text-decoration: none;
    display: inline-block;
    color: black;
    padding: 5px 5px;
    font-size: 25px;
    margin: 15px 15px;
    
    
}
.header{
    background-color: #f6f6f6;
    text-align: center;
    padding: 50px 122px;
    margin: 40px auto;
    width: 1024px;
    
}
.dolar{
    color: #a52a2a;
    font-size: 40px;
    padding-bottom: 10px;
}
.banner{
    margin-bottom: 30px;
}
.ripon{
    width: 500px;
    height: 300px;
    float: left;
    margin-right: 120px;
}
.sarkar{
    background-color: #ddd;
    text-align: center;
}
.about{
    color: #a52a2a;
    
}
.skill{
    margin: 15px;
}
.name{
   margin: 15px;
}
.service{
    text-align: center;
    
}
.service ul{
    background-color: #ddd;
    display: inline-block; 
    border: 1px solid #000;
}
.service ul li{
    display: inline-block;
    font-size: 30px;
    margin: 15px 15px;
    padding: 0 15px;
    
}
.footer{

    text-align: center;
    margin: 20px;
 
}
.chair{
    display: inline-block;
    background-color: #ddd;
    margin:  5px;
    padding: 20px 15px; 
    width: 32%;
    height: 150px;
    width: 400px;
    float: left;
}
.table{
    display: inline-block;
    background-color: #ddd;
    margin: 5px;
    padding: 20px 5px; 
    width: 34%;
    height: 150px;
    width: 400px;
    float: left;
}
.bed{
    display: inline-block;
    background-color: #ddd;
    margin:  5px;
    padding: 20px 15px;
    width: 32%;
    height: 150px;
    width: 400px;
}
.end{
    text-align: center;
    margin-top: 40px;
    background-color: #ddd;
    padding: 10px 70px;
    border-top: 2px solid #000;
}